
.content-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
    height: 500px;

    padding: 0 !important;
    background-color: #934725;
    border-radius: 1%;
    
}
.title{
  color: #ffeacb
}
.text-box{
    width: 80%;
    height: 80%;
    resize: none;
    border-radius: 1%;
    background-color: #ffeacb
    
}