
.content-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
    height: 500px;

    padding: 0 !important;
    background-color: #562610;
    border-radius: 1%;
    border-width: 2px;

    
}
.title{
  color: #ffeacb;
  font-family: 'Outfit', sans-serif;

}
.text-box{
    width: 80%;
    height: 80%;
    resize: none;
    border-radius: 1%;
    background-color: #ffeacb
    
}